body {
    background-color: white;
    text-align: center;

}

.heading {
    text-align: center;
    font-size: 280%;
}

.logo {
    height: 60px;
    padding-right: 5px;
}


.btn:focus {
    outline: none;
}

.buttons {
   margin: 5px;
   padding: 10px 20px;
   font-size: 104px;
   cursor: pointer;
   border: 10px;
   border-radius: 5px;
}

#score, #result {
    margin-top: 30px;
    font-size: 50px;
    color: blue;
}